extends layout

block content

  h3 Add URLs

  form#formAddUrls.form-horizontal(method='post', action='/input')
    .form-group
      textarea#urls.form-control(rows="8", name='urls')
        | http://www.news2.ru
        | http://www.google.com
   
    .form-group
      
      a#submit.btn.btn-primary Submit
    
  script(src='/js/add.js')
