doctype html
html
  head
    title Scrawl

    link(href='/components/bootstrap/dist/css/bootstrap.css',rel='stylesheet')
    script(src='/components/jquery/dist/jquery.js')

  body
    block menu
      h3 menu

    block content